<form class="indent" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="username" formControlName="username" id="username" value="">
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="password" formControlName="password" id="password" value="">
        </mat-form-field>
      
  
        <button mat-raised-button color="accent" id="btnLogin">Submit</button>
  </form> 
