.basic-slide {
    display: inline-block;
    width: 215px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #377D6A;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 70px; // Arbitrary.
    transition: all .3s ease-in-out;
    margin-left: 5px;
    margin-top: 5px;
}  

label {
    position: absolute;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #7AB893;
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

.basic-slide:focus,
.basic-slide:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn{
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid grey;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    margin-left: 5px;
}
      
.btn:hover{background-color:orange;}
      
.btn:focus{background-color:red;}