<h1 id="white">Register Baby</h1>

<form class="indent">
<input type="text" class="basic-slide" placeholder="Navn">
<input type="text" class="basic-slide" placeholder="Køn">
<input type="text" class="basic-slide" placeholder="Fødselsdato">
<input type="text" class="basic-slide" placeholder="Specielle behov">
<input type="text" class="basic-slide" placeholder="Adresse">
<input type="text" class="basic-slide" placeholder="Postnummer">
<input type="text" class="basic-slide" placeholder="By"><br><br>
<input type="submit" value="Submit" class="btn">
<br>
</form>
